<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:each="student : ${students}">
        <h4 th:text="${student.getFirstName()} + ' ' + ${student.getLastName()} + 'is from ' + ${student.getStudentClass().getClassNumber()}"></h4>
    </th:block>

    <div th:each="student, index : ${students}">
        <p>
                askjdfaksjhdkjasdfhjdshfkjsdhf
            <h5 th:text="${student.getFirstName()}"></h5>
            <h5 th:text="${index.index}"></h5>
        </p>
    </div>

</body>
</html>
