<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1 th:if="${user.getUsername() != null}"  th:text="'asdaskjdaskjdhasdk'"></h1>
<form action="/register" method="post" th:object="${user}">
    <table>
        <tr>
            <td>
                <input type="text" name="username" th:field="*{username}">
            </td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="passwordRepeat">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
